<div class = "container mt-3 ">
        <% @ideas.each do |idea| %>
            <div class = "container mt-3 border rounded">
                <p><%= link_to(idea.title, idea_path(idea.id))%></p>
                <p><%= idea.body%></p>
            </div>
        <% end %>
</div>