<div class = "container mt-3 ">
        <% @ideas.each do |idea| %>
        
            <div class = "container mt-3 border rounded" id = "parent">
                <span class= border id = "button">+</span>   
                <b><%= link_to(idea.title, idea_path(idea.id))%></b>
                <p id = "idea-body"><%= idea.body%></p>
            </div>
        
        <% end %>
</div>